<ng-container *ngIf="playerOverall && opponentOverall 
                    && playerConversions && opponentConversions 
                    && punishedActionsForPlayer && punishedActionsForOpponent 
                    && lcancelsForPlayer && lcancelsForOpponent 
                    && collapseId">
  <div class="statsDisplayCharacterWrapper">
    <div class="characterBlock" *ngFor="let character of getKeys(playerOverall); let i = index;">
      <app-foldable-block [label]="'Against ' + character" [collapseId]="collapseId + '' + i">
        <ng-container>
          <!-- Mandatory so the foldable blocks imbricate like we want them to -->
          <div class="statsDisplayStageWrapper">
            <div class="stageBlock" *ngFor="let stage of getKeys(playerOverall[character]); let j = index;">
              <app-foldable-block [label]="'On ' + getStageName(stage)" [collapseId]="collapseId + '' + i + '' + j">
                <ng-container>
                  <!-- Mandatory so the foldable blocks imbricate like we want them to -->
                  <div class="subsectionWrapper">
                    <!-- Overall stats -->
                    <div class="subsectionBlock">
                      <!-- Player overall stats -->
                      <app-foldable-block [label]="'Player overall stats'"
                        [collapseId]="collapseId + '' + i + '' + j + '1'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'playerOverall', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'playerOverall')">
                          <app-stats-line [label]="'Percentage of player conversions / total conversions'"
                            [value]="playerOverall[character][stage].conversionsRatio | number:'1.0-1'" [unit1]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg number of kills per game'"
                            [value]="playerOverall[character][stage].killCountMoyenne | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg kill percent'"
                            [value]="playerOverall[character][stage].killPercentMoyenne | number:'1.0-1'" [unit1]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg openings per kill'"
                            [value]="playerOverall[character][stage].openingsPerKillMoyenne | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg damage done per game'"
                            [value]="playerOverall[character][stage].totalDamageMoyenne | number:'1.0-1'" [unit1]="'%'">
                          </app-stats-line>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                    <div class="subsectionBlock">
                      <!-- Opponent overall stats -->
                      <app-foldable-block [label]="'Opponent overall stats'"
                        [collapseId]="collapseId + '' + i + '' + j + '2'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'oppOverall', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'oppOverall')">
                          <app-stats-line [label]="'Percentage of opponent conversions / total conversions'"
                            [value]="opponentOverall[character][stage].conversionsRatio | number:'1.0-1'" [unit1]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg number of kills per game'"
                            [value]="opponentOverall[character][stage].killCountMoyenne | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg kill percent'"
                            [value]="opponentOverall[character][stage].killPercentMoyenne | number:'1.0-1'"
                            [unit1]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg openings per kill'"
                            [value]="opponentOverall[character][stage].openingsPerKillMoyenne | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Avg damage done per game'"
                            [value]="opponentOverall[character][stage].totalDamageMoyenne | number:'1.0-1'"
                            [unit1]="'%'">
                          </app-stats-line>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                  </div>
                  <div class="subsectionWrapper">
                    <!-- Conversion -->
                    <div class="subsectionBlock">
                      <!-- Player conversions -->
                      <app-foldable-block [label]="'Player conversions'"
                        [collapseId]="collapseId + '' + i + '' + j + '3'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'playerConversions', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'playerConversions')">
                          <app-stats-line [label]="'Neutral win conversions average length (excluding single hits)'"
                            [value]="playerConversions[character][stage].processedNeutralWinsConversions['multi-hits'].averageLength | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Neutral win conversions average damage (excluding single hits)'"
                            [value]="playerConversions[character][stage].processedNeutralWinsConversions['multi-hits'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Single hit neutral wins average damage'"
                            [value]="playerConversions[character][stage].processedNeutralWinsConversions['single-hit'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Punish conversions average length (excluding single hits)'"
                            [value]="playerConversions[character][stage].processedPunishes['multi-hits'].averageLength | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Punish conversions average damage (excluding single hits)'"
                            [value]="playerConversions[character][stage].processedPunishes['multi-hits'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Single hit punishes average damage'"
                            [value]="playerConversions[character][stage].processedPunishes['single-hit'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Most frequent neutral opener'"
                            [value]="playerConversions[character][stage].processedNeutralWinsFirstHits?.move ? playerConversions[character][stage].processedNeutralWinsFirstHits.move  : 'N/A'"
                            [value2]="playerConversions[character][stage].processedNeutralWinsFirstHits?.count ? (playerConversions[character][stage].processedNeutralWinsFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent punish option'"
                            [value]="playerConversions[character][stage].processedPunishesFirstHits?.move ? playerConversions[character][stage].processedPunishesFirstHits.move : 'N/A'"
                            [value2]="playerConversions[character][stage].processedPunishesFirstHits?.count ? (playerConversions[character][stage].processedPunishesFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent neutral opener for conversions into kills'"
                            [value]="playerConversions[character][stage].processedKillNeutralFirstHits?.move ? playerConversions[character][stage].processedKillNeutralFirstHits.move : 'N/A'"
                            [value2]="playerConversions[character][stage].processedKillNeutralFirstHits?.count ? (playerConversions[character][stage].processedKillNeutralFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent punish option for conversions into kills'"
                            [value]="playerConversions[character][stage].processedKillPunishFirstHits?.move ? playerConversions[character][stage].processedKillPunishFirstHits.move : 'N/A'"
                            [value2]="playerConversions[character][stage].processedKillPunishFirstHits?.count ? (playerConversions[character][stage].processedKillPunishFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <p class="label">Average damage for most common neutral starters</p>
                          <ng-container
                            *ngFor="let mostUsed of playerConversions[character][stage].processedDamageForMostCommonNeutralOpeners">
                            <app-stats-line [label]="getMoveName(mostUsed.moveId)"
                              [value]="mostUsed.averageDamage | number:'1.0-1'" [unit1]="'%'"></app-stats-line>
                          </ng-container>
                          <p class="label">Average damage for most common punish starters</p>
                          <ng-container
                            *ngFor="let mostUsed of playerConversions[character][stage].processedDamageForMostCommonPunishStarts">
                            <app-stats-line [label]="getMoveName(mostUsed.moveId)"
                              [value]="mostUsed.averageDamage | number:'1.0-1'" [unit1]="'%'"></app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                    <div class="subsectionBlock">
                      <!-- Opponent conversions -->
                      <app-foldable-block [label]="'Opponent conversions'"
                        [collapseId]="collapseId + '' + i + '' + j + '4'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'opponentConversions', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'opponentConversions')">
                          <app-stats-line [label]="'Neutral win conversions average length (excluding single hits)'"
                            [value]="opponentConversions[character][stage].processedNeutralWinsConversions['multi-hits'].averageLength | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Neutral win conversions average damage (excluding single hits)'"
                            [value]="opponentConversions[character][stage].processedNeutralWinsConversions['multi-hits'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Single hit neutral wins average damage'"
                            [value]="opponentConversions[character][stage].processedNeutralWinsConversions['single-hit'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Punish conversions average length (excluding single hits)'"
                            [value]="opponentConversions[character][stage].processedPunishes['multi-hits'].averageLength | number:'1.0-1'">
                          </app-stats-line>
                          <app-stats-line [label]="'Punish conversions average damage (excluding single hits)'"
                            [value]="opponentConversions[character][stage].processedPunishes['multi-hits'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Single hit punishes average damage'"
                            [value]="opponentConversions[character][stage].processedPunishes['single-hit'].averageDamage | number:'1.0-1'"
                            [unit1]="'%'"></app-stats-line>
                          <app-stats-line [label]="'Most frequent neutral opener'"
                            [value]="opponentConversions[character][stage].processedNeutralWinsFirstHits?.move ? opponentConversions[character][stage].processedNeutralWinsFirstHits.move  : 'N/A'"
                            [value2]="opponentConversions[character][stage].processedNeutralWinsFirstHits?.count ? (opponentConversions[character][stage].processedNeutralWinsFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent punish option'"
                            [value]="opponentConversions[character][stage].processedPunishesFirstHits?.move ? opponentConversions[character][stage].processedPunishesFirstHits.move : 'N/A'"
                            [value2]="opponentConversions[character][stage].processedPunishesFirstHits?.count ? (opponentConversions[character][stage].processedPunishesFirstHits.count | number:'1.0-1') : ''  "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent neutral opener for conversions into kills'"
                            [value]="opponentConversions[character][stage].processedKillNeutralFirstHits?.move ? opponentConversions[character][stage].processedKillNeutralFirstHits.move : 'N/A'"
                            [value2]="opponentConversions[character][stage].processedKillNeutralFirstHits?.count ? (opponentConversions[character][stage].processedKillNeutralFirstHits.count | number:'1.0-1') : '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <app-stats-line [label]="'Most frequent punish option for conversions into kills'"
                            [value]="opponentConversions[character][stage].processedKillPunishFirstHits?.move ? opponentConversions[character][stage].processedKillPunishFirstHits.move : 'N/A'"
                            [value2]="opponentConversions[character][stage].processedKillPunishFirstHits?.count ? (opponentConversions[character][stage].processedKillPunishFirstHits.count | number:'1.0-1'): '' "
                            [unit2]="'%'">
                          </app-stats-line>
                          <p class="label">Average damage for most common neutral starters</p>
                          <ng-container
                            *ngFor="let mostUsed of opponentConversions[character][stage].processedDamageForMostCommonNeutralOpeners">
                            <app-stats-line [label]="getMoveName(mostUsed.moveId)"
                              [value]="mostUsed.averageDamage | number:'1.0-1'" [unit1]="'%'"></app-stats-line>
                          </ng-container>
                          <p class="label">Average damage for most common punish starters</p>
                          <ng-container
                            *ngFor="let mostUsed of opponentConversions[character][stage].processedDamageForMostCommonPunishStarts">
                            <app-stats-line [label]="getMoveName(mostUsed.moveId)"
                              [value]="mostUsed.averageDamage | number:'1.0-1'" [unit1]="'%'"></app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                  </div>
                  <div class="subsectionWrapper">
                    <!-- Punished moves -->
                    <div class="subsectionBlock">
                      <!-- Player punished moves -->
                      <app-foldable-block [label]="'Player punished moves'"
                        [collapseId]="collapseId + '' + i + '' + j + '5'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'playerPunishedMoves', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'playerPunishedMoves')">
                          <p class="label">Player attacks most punished by opponent</p>
                          <ng-container
                            *ngIf="punishedActionsForPlayer[character][stage].punishedAttacks.onHit?.length > 0">
                            <p class="label">On hit</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForPlayer[character][stage].punishedAttacks.onHit)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1' "
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForPlayer[character][stage].punishedAttacks.onShield?.length > 0">
                            <p class="label">On Shield</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForPlayer[character][stage].punishedAttacks.onShield)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1' "
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForPlayer[character][stage].punishedAttacks.onPShield?.length > 0">
                            <p class="label">On Powershield</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForPlayer[character][stage].punishedAttacks.onPShield)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1' "
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForPlayer[character][stage].punishedAttacks.onWhiff?.length > 0">
                            <p class="label">On whiff</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForPlayer[character][stage].punishedAttacks.onWhiff)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <p class="label">Player defensive options most punished by opponent</p>
                          <ng-container
                            *ngFor="let mostPunished of getTop3MostCommonDefensiveOptions(punishedActionsForPlayer[character][stage].punishedDefensiveOptions)">
                            <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                              [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                          <p class="label">Player movement options most punished by opponent</p>
                          <ng-container
                            *ngFor="let mostPunished of getTop3MostCommonMovementOptions(punishedActionsForPlayer[character][stage].punishedMovementOptions)">
                            <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                              [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                    <div class="subsectionBlock">
                      <!-- Opponent punished moves -->
                      <app-foldable-block [label]="'Opponent punished moves'"
                        [collapseId]="collapseId + '' + i + '' + j + '6'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'oppPunishedMoves', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'oppPunishedMoves')">
                          <p class="label">Opponent attacks most punished by player</p>
                          <ng-container
                            *ngIf="punishedActionsForOpponent[character][stage].punishedAttacks.onHit?.length > 0">
                            <p class="label">On hit</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForOpponent[character][stage].punishedAttacks.onHit)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForOpponent[character][stage].punishedAttacks.onShield?.length > 0">
                            <p class="label">On Shield</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForOpponent[character][stage].punishedAttacks.onShield)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForOpponent[character][stage].punishedAttacks.onPShield?.length > 0">
                            <p class="label">On Powershield</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForOpponent[character][stage].punishedAttacks.onPShield)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <ng-container
                            *ngIf="punishedActionsForOpponent[character][stage].punishedAttacks.onWhiff?.length > 0">
                            <p class="label">On whiff</p>
                            <ng-container
                              *ngFor="let mostPunished of getTop3MostCommonAttacks(punishedActionsForOpponent[character][stage].punishedAttacks.onWhiff)">
                              <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                                [unit1]="'%'">
                              </app-stats-line>
                            </ng-container>
                          </ng-container>
                          <p class="label">Opponent defensive options most punished by player</p>
                          <ng-container
                            *ngFor="let mostPunished of getTop3MostCommonDefensiveOptions(punishedActionsForOpponent[character][stage].punishedDefensiveOptions)">
                            <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                              [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                          <p class="label">Opponent movement options most punished by player</p>
                          <ng-container
                            *ngFor="let mostPunished of getTop3MostCommonMovementOptions(punishedActionsForOpponent[character][stage].punishedMovementOptions)">
                            <app-stats-line [label]="mostPunished.move" [value]="mostPunished.count | number:'1.0-1'"
                              [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                  </div>
                  <div class="subsectionWrapper">
                    <!-- Lcancels -->
                    <div class="subsectionBlock">
                      <!-- Player Lcancels -->
                      <app-foldable-block [label]="'Player L-Cancels'" [collapseId]="collapseId + '' + i + '' + j + '7'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'playerLcancels', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'playerLcancels')">
                          <app-stats-line [label]="'Successful L-Cancel rate'"
                            [value]="getLCancelRatio(lcancelsForPlayer[character][stage].lcancels).ratio * 100 | number:'1.0-1'"
                            [unit1]="'%'">
                          </app-stats-line>
                          <p class="label">Player top missed l-cancel moves (percentage of total missed l-cancel)</p>
                          <ng-container
                            *ngFor="let mostMissed of getTop3MostCommonLCancel(lcancelsForPlayer[character][stage].failedMoves)">
                            <app-stats-line [label]="removeLanding(mostMissed.move)"
                              [value]="mostMissed.count | number:'1.0-1'" [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                    <div class="subsectionBlock">
                      <!-- Opponent Lcancels -->
                      <app-foldable-block [label]="'Opponent L-Cancels'"
                        [collapseId]="collapseId + '' + i + '' + j + '8'"
                        (toggledEmit)="handleToggleEmit(character, stage, 'oppLcancels', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'oppLcancels')">
                          <app-stats-line [label]="'Successful L-Cancel rate'"
                            [value]="getLCancelRatio(lcancelsForOpponent[character][stage].lcancels).ratio * 100 | number:'1.0-1'"
                            [unit1]="'%'">
                          </app-stats-line>
                          <p class="label">Opponent top missed l-cancel moves (percentage of total missed l-cancel)</p>
                          <ng-container
                            *ngFor="let mostMissed of getTop3MostCommonLCancel(lcancelsForOpponent[character][stage].failedMoves)">
                            <app-stats-line [label]="removeLanding(mostMissed.move)"
                              [value]="mostMissed.count | number:'1.0-1'" [unit1]="'%'">
                            </app-stats-line>
                          </ng-container>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                  </div>
                  <div class="subsectionWrapper">
                    <!-- Ledgedashes -->
                    <div class="subsectionBlock"
                      *ngIf="ledgeDashesForPlayer && ledgeDashesForPlayer[character] && ledgeDashesForPlayer[character][stage]">
                      <!-- Player ledgedashes -->
                      <app-foldable-block [label]="'Player Ledgedashes'" [collapseId]="collapseId + '' + i + '' + j + 9"
                        (toggledEmit)="handleToggleEmit(character, stage, 'playerLedgeDashes', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'playerLedgeDashes')">
                          <p class="label">Player invincible ledgedashes</p>
                          <app-stats-line [label]="'Invincible ledgedashes percentage'"
                            [value]="ledgeDashesForPlayer[character][stage]?.invincible?.percentOfTotalLedgedashes ? (ledgeDashesForPlayer[character][stage].invincible.percentOfTotalLedgedashes | number:'1.0-1') : 'N/A'"
                            [unit1]="ledgeDashesForPlayer[character][stage]?.invincible?.percentOfTotalLedgedashes ? '%' : ''">
                          </app-stats-line>
                          <app-stats-line [label]="'Average framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForPlayer[character][stage]?.invincible?.averageFramesSinceLedgeDrop ? (ledgeDashesForPlayer[character][stage].invincible.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Average extra invicibility frames'"
                            [value]="ledgeDashesForPlayer[character][stage]?.invincible?.averageExtraInvincibilityFrames ? (ledgeDashesForPlayer[character][stage].invincible.averageExtraInvincibilityFrames | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Shortest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForPlayer[character][stage]?.invincible?.minFramesSinceLedgeDrop ? (ledgeDashesForPlayer[character][stage].invincible.minFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Longest extra invicibility frames'"
                            [value]="ledgeDashesForPlayer[character][stage]?.invincible?.maxExtraInvincibilityFrames ? (ledgeDashesForPlayer[character][stage].invincible.maxExtraInvincibilityFrames) : 'N/A'">
                          </app-stats-line>
                          <p class="label">Player non invincible ledgedashes</p>
                          <app-stats-line [label]="'Average framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForPlayer[character][stage]?.notInvincible?.averageFramesSinceLedgeDrop ? (ledgeDashesForPlayer[character][stage].notInvincible.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Shortest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForPlayer[character][stage]?.notInvincible?.minFramesSinceLedgeDrop ? (ledgeDashesForPlayer[character][stage].notInvincible.minFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Longest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForPlayer[character][stage]?.notInvincible?.maxFramesSinceLedgeDrop ? (ledgeDashesForPlayer[character][stage].notInvincible.maxFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                    <div class="subsectionBlock"
                      *ngIf="ledgeDashesForOpponent && ledgeDashesForOpponent[character] && ledgeDashesForOpponent[character][stage]">
                      <!-- Opponent ledgedashes -->
                      <app-foldable-block [label]="'Opponent Ledgedashes'"
                        [collapseId]="collapseId + '' + i + '' + j + 10"
                        (toggledEmit)="handleToggleEmit(character, stage, 'opponentLedgedashes', $event)">
                        <ng-container *ngIf="buildDOM(character, stage, 'opponentLedgedashes')">
                          <p class="label">Opponent invincible ledgedashes</p>
                          <app-stats-line [label]="'Invincible ledgedashes percentage'"
                            [value]="ledgeDashesForOpponent[character][stage]?.invincible?.percentOfTotalLedgedashes ? (ledgeDashesForOpponent[character][stage].invincible.percentOfTotalLedgedashes | number:'1.0-1') : 'N/A'"
                            [unit1]="ledgeDashesForOpponent[character][stage]?.invincible?.percentOfTotalLedgedashes ? '%' : ''">
                          </app-stats-line>
                          <app-stats-line [label]="'Average framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForOpponent[character][stage]?.invincible?.averageFramesSinceLedgeDrop ? (ledgeDashesForOpponent[character][stage].invincible.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Average extra invicibility frames'"
                            [value]="ledgeDashesForOpponent[character][stage]?.invincible?.averageExtraInvincibilityFrames ? (ledgeDashesForOpponent[character][stage].invincible.averageExtraInvincibilityFrames | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Shortest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForOpponent[character][stage]?.invincible?.minFramesSinceLedgeDrop ? (ledgeDashesForOpponent[character][stage].invincible.minFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Longest extra invicibility frames'"
                            [value]="ledgeDashesForOpponent[character][stage]?.invincible?.maxExtraInvincibilityFrames ? (ledgeDashesForOpponent[character][stage].invincible.maxExtraInvincibilityFrames) : 'N/A'">
                          </app-stats-line>
                          <p class="label">Opponent non invincible ledgedashes</p>
                          <app-stats-line [label]="'Average framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForOpponent[character][stage]?.notInvincible?.averageFramesSinceLedgeDrop ? (ledgeDashesForOpponent[character][stage].notInvincible.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Shortest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForOpponent[character][stage]?.notInvincible?.minFramesSinceLedgeDrop ? (ledgeDashesForOpponent[character][stage].notInvincible.minFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                          <app-stats-line [label]="'Longest framecount from ledge drop to end of ledgedash'"
                            [value]="ledgeDashesForOpponent[character][stage]?.notInvincible?.maxFramesSinceLedgeDrop ? (ledgeDashesForOpponent[character][stage].notInvincible.maxFramesSinceLedgeDrop) : 'N/A'">
                          </app-stats-line>
                        </ng-container>
                      </app-foldable-block>
                    </div>
                  </div>
                </ng-container>
              </app-foldable-block>
            </div>
          </div>
        </ng-container>
      </app-foldable-block>
    </div>
  </div>
</ng-container>