# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
Statislip-win32-x64/chrome_100_percent.pak
Statislip-win32-x64/chrome_200_percent.pak
Statislip-win32-x64/d3dcompiler_47.dll
Statislip-win32-x64/ffmpeg.dll
Statislip-win32-x64/icudtl.dat
Statislip-win32-x64/libEGL.dll
Statislip-win32-x64/libGLESv2.dll
Statislip-win32-x64/LICENSE
Statislip-win32-x64/LICENSES.chromium.html
Statislip-win32-x64/resources.pak
Statislip-win32-x64/snapshot_blob.bin
Statislip-win32-x64/Statislip.exe
Statislip-win32-x64/v8_context_snapshot.bin
Statislip-win32-x64/version
Statislip-win32-x64/vk_swiftshader_icd.json
Statislip-win32-x64/vk_swiftshader.dll
Statislip-win32-x64/vulkan-1.dll
Statislip-win32-x64/locales/am.pak
Statislip-win32-x64/locales/ar.pak
Statislip-win32-x64/locales/bg.pak
Statislip-win32-x64/locales/bn.pak
Statislip-win32-x64/locales/ca.pak
Statislip-win32-x64/locales/cs.pak
Statislip-win32-x64/locales/da.pak
Statislip-win32-x64/locales/de.pak
Statislip-win32-x64/locales/el.pak
Statislip-win32-x64/locales/en-GB.pak
Statislip-win32-x64/locales/en-US.pak
Statislip-win32-x64/locales/es-419.pak
Statislip-win32-x64/locales/es.pak
Statislip-win32-x64/locales/et.pak
Statislip-win32-x64/locales/fa.pak
Statislip-win32-x64/locales/fi.pak
Statislip-win32-x64/locales/fil.pak
Statislip-win32-x64/locales/fr.pak
Statislip-win32-x64/locales/gu.pak
Statislip-win32-x64/locales/he.pak
Statislip-win32-x64/locales/hi.pak
Statislip-win32-x64/locales/hr.pak
Statislip-win32-x64/locales/hu.pak
Statislip-win32-x64/locales/id.pak
Statislip-win32-x64/locales/it.pak
Statislip-win32-x64/locales/ja.pak
Statislip-win32-x64/locales/kn.pak
Statislip-win32-x64/locales/ko.pak
Statislip-win32-x64/locales/lt.pak
Statislip-win32-x64/locales/lv.pak
Statislip-win32-x64/locales/ml.pak
Statislip-win32-x64/locales/mr.pak
Statislip-win32-x64/locales/ms.pak
Statislip-win32-x64/locales/nb.pak
Statislip-win32-x64/locales/nl.pak
Statislip-win32-x64/locales/pl.pak
Statislip-win32-x64/locales/pt-BR.pak
Statislip-win32-x64/locales/pt-PT.pak
Statislip-win32-x64/locales/ro.pak
Statislip-win32-x64/locales/ru.pak
Statislip-win32-x64/locales/sk.pak
Statislip-win32-x64/locales/sl.pak
Statislip-win32-x64/locales/sr.pak
Statislip-win32-x64/locales/sv.pak
Statislip-win32-x64/locales/sw.pak
Statislip-win32-x64/locales/ta.pak
Statislip-win32-x64/locales/te.pak
Statislip-win32-x64/locales/th.pak
Statislip-win32-x64/locales/tr.pak
Statislip-win32-x64/locales/uk.pak
Statislip-win32-x64/locales/vi.pak
Statislip-win32-x64/locales/zh-CN.pak
Statislip-win32-x64/locales/zh-TW.pak
Statislip-win32-x64/resources/app/.browserslistrc
Statislip-win32-x64/resources/app/.editorconfig
Statislip-win32-x64/resources/app/.gitignore
Statislip-win32-x64/resources/app/angular.json
Statislip-win32-x64/resources/app/constants.js
Statislip-win32-x64/resources/app/karma.conf.js
Statislip-win32-x64/resources/app/main.js
Statislip-win32-x64/resources/app/package-lock.json
Statislip-win32-x64/resources/app/package.json
Statislip-win32-x64/resources/app/README.md
Statislip-win32-x64/resources/app/slippi-stats-workerfile.js
Statislip-win32-x64/resources/app/slippi-stats.js
Statislip-win32-x64/resources/app/tsconfig.app.json
Statislip-win32-x64/resources/app/tsconfig.json
Statislip-win32-x64/resources/app/tsconfig.spec.json
Statislip-win32-x64/resources/app/tslint.json
Statislip-win32-x64/resources/app/Workspace.code-workspace
Statislip-win32-x64/resources/app/e2e/protractor.conf.js
Statislip-win32-x64/resources/app/e2e/tsconfig.json
Statislip-win32-x64/resources/app/e2e/src/app.e2e-spec.ts
Statislip-win32-x64/resources/app/e2e/src/app.po.ts
Statislip-win32-x64/resources/app/src/favicon.ico
Statislip-win32-x64/resources/app/src/index.html
Statislip-win32-x64/resources/app/src/main.ts
Statislip-win32-x64/resources/app/src/polyfills.ts
Statislip-win32-x64/resources/app/src/styles.scss
Statislip-win32-x64/resources/app/src/test.ts
Statislip-win32-x64/resources/app/src/app/app-routing.module.ts
Statislip-win32-x64/resources/app/src/app/app.component.html
Statislip-win32-x64/resources/app/src/app/app.component.scss
Statislip-win32-x64/resources/app/src/app/app.component.spec.ts
Statislip-win32-x64/resources/app/src/app/app.component.ts
Statislip-win32-x64/resources/app/src/app/app.module.ts
Statislip-win32-x64/resources/app/src/app/elec.service.ts
Statislip-win32-x64/resources/app/src/app/components/filter-form/filter-form.component.html
Statislip-win32-x64/resources/app/src/app/components/filter-form/filter-form.component.scss
Statislip-win32-x64/resources/app/src/app/components/filter-form/filter-form.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/filter-form/filter-form.component.ts
Statislip-win32-x64/resources/app/src/app/components/foldable-block/foldable-block.component.html
Statislip-win32-x64/resources/app/src/app/components/foldable-block/foldable-block.component.scss
Statislip-win32-x64/resources/app/src/app/components/foldable-block/foldable-block.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/foldable-block/foldable-block.component.ts
Statislip-win32-x64/resources/app/src/app/components/game-list/game-list.component.html
Statislip-win32-x64/resources/app/src/app/components/game-list/game-list.component.scss
Statislip-win32-x64/resources/app/src/app/components/game-list/game-list.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/game-list/game-list.component.ts
Statislip-win32-x64/resources/app/src/app/components/home/home.component.html
Statislip-win32-x64/resources/app/src/app/components/home/home.component.scss
Statislip-win32-x64/resources/app/src/app/components/home/home.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/home/home.component.ts
Statislip-win32-x64/resources/app/src/app/components/main-panel/main-panel.component.html
Statislip-win32-x64/resources/app/src/app/components/main-panel/main-panel.component.scss
Statislip-win32-x64/resources/app/src/app/components/main-panel/main-panel.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/main-panel/main-panel.component.ts
Statislip-win32-x64/resources/app/src/app/components/side-panel/side-panel.component.html
Statislip-win32-x64/resources/app/src/app/components/side-panel/side-panel.component.scss
Statislip-win32-x64/resources/app/src/app/components/side-panel/side-panel.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/side-panel/side-panel.component.ts
Statislip-win32-x64/resources/app/src/app/components/stats-display/stats-display.component.html
Statislip-win32-x64/resources/app/src/app/components/stats-display/stats-display.component.scss
Statislip-win32-x64/resources/app/src/app/components/stats-display/stats-display.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/stats-display/stats-display.component.ts
Statislip-win32-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.html
Statislip-win32-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.scss
Statislip-win32-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.ts
Statislip-win32-x64/resources/app/src/app/components/stats-line/stats-line.component.html
Statislip-win32-x64/resources/app/src/app/components/stats-line/stats-line.component.scss
Statislip-win32-x64/resources/app/src/app/components/stats-line/stats-line.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/stats-line/stats-line.component.ts
Statislip-win32-x64/resources/app/src/app/components/upload/upload.component.html
Statislip-win32-x64/resources/app/src/app/components/upload/upload.component.scss
Statislip-win32-x64/resources/app/src/app/components/upload/upload.component.spec.ts
Statislip-win32-x64/resources/app/src/app/components/upload/upload.component.ts
Statislip-win32-x64/resources/app/src/app/components/utils/gameFile.utils.ts
Statislip-win32-x64/resources/app/src/assets/.gitkeep
Statislip-win32-x64/resources/app/src/assets/chars/Bowser.png
Statislip-win32-x64/resources/app/src/assets/chars/default.png
Statislip-win32-x64/resources/app/src/assets/chars/DK.png
Statislip-win32-x64/resources/app/src/assets/chars/DRMario.png
Statislip-win32-x64/resources/app/src/assets/chars/Falco.png
Statislip-win32-x64/resources/app/src/assets/chars/Falcon.png
Statislip-win32-x64/resources/app/src/assets/chars/Fox.png
Statislip-win32-x64/resources/app/src/assets/chars/G&W.png
Statislip-win32-x64/resources/app/src/assets/chars/Ganon.png
Statislip-win32-x64/resources/app/src/assets/chars/ICs.png
Statislip-win32-x64/resources/app/src/assets/chars/Jigglypuff.png
Statislip-win32-x64/resources/app/src/assets/chars/Kirby.png
Statislip-win32-x64/resources/app/src/assets/chars/Link.png
Statislip-win32-x64/resources/app/src/assets/chars/Luigi.png
Statislip-win32-x64/resources/app/src/assets/chars/Mario.png
Statislip-win32-x64/resources/app/src/assets/chars/Marth.png
Statislip-win32-x64/resources/app/src/assets/chars/Mewtwo.png
Statislip-win32-x64/resources/app/src/assets/chars/Ness.png
Statislip-win32-x64/resources/app/src/assets/chars/Peach.png
Statislip-win32-x64/resources/app/src/assets/chars/Pichu.png
Statislip-win32-x64/resources/app/src/assets/chars/Pikachu.png
Statislip-win32-x64/resources/app/src/assets/chars/Roy.png
Statislip-win32-x64/resources/app/src/assets/chars/Samus.png
Statislip-win32-x64/resources/app/src/assets/chars/Sheik.png
Statislip-win32-x64/resources/app/src/assets/chars/YL.png
Statislip-win32-x64/resources/app/src/assets/chars/Yoshi.png
Statislip-win32-x64/resources/app/src/assets/chars/Zelda.png
Statislip-win32-x64/resources/app/src/assets/stages/BF-name.png
Statislip-win32-x64/resources/app/src/assets/stages/BF-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/default-name.png
Statislip-win32-x64/resources/app/src/assets/stages/default-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/DL-name.png
Statislip-win32-x64/resources/app/src/assets/stages/DL-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/FD-name.png
Statislip-win32-x64/resources/app/src/assets/stages/FD-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/FoD-name.png
Statislip-win32-x64/resources/app/src/assets/stages/FoD-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/PS-name.png
Statislip-win32-x64/resources/app/src/assets/stages/PS-pic.png
Statislip-win32-x64/resources/app/src/assets/stages/YS-name.png
Statislip-win32-x64/resources/app/src/assets/stages/YS-pic.png
Statislip-win32-x64/resources/app/src/environments/environment.prod.ts
Statislip-win32-x64/resources/app/src/environments/environment.ts
Statislip-win32-x64/resources/app/src/interfaces/const.ts
Statislip-win32-x64/resources/app/src/interfaces/outputs.ts
Statislip-win32-x64/resources/app/src/interfaces/types.ts
Statislip-win32-x64/resources/app/src/services/icons/icons.service.spec.ts
Statislip-win32-x64/resources/app/src/services/icons/icons.service.ts
Statislip-win32-x64/resources/app/src/services/stats-processing/stats-processing.service.spec.ts
Statislip-win32-x64/resources/app/src/services/stats-processing/stats-processing.service.ts
Statislip-win32-x64/resources/app/src/services/store/store.service.spec.ts
Statislip-win32-x64/resources/app/src/services/store/store.service.ts
Statislip-win32-x64/swiftshader/libEGL.dll
Statislip-win32-x64/swiftshader/libGLESv2.dll
Statislip-linux-x64/chrome_100_percent.pak
Statislip-linux-x64/chrome_200_percent.pak
Statislip-linux-x64/chrome-sandbox
Statislip-linux-x64/icudtl.dat
Statislip-linux-x64/libEGL.so
Statislip-linux-x64/libffmpeg.so
Statislip-linux-x64/libGLESv2.so
Statislip-linux-x64/libvk_swiftshader.so
Statislip-linux-x64/libvulkan.so
Statislip-linux-x64/LICENSE
Statislip-linux-x64/LICENSES.chromium.html
Statislip-linux-x64/resources.pak
Statislip-linux-x64/snapshot_blob.bin
Statislip-linux-x64/Statislip
Statislip-linux-x64/v8_context_snapshot.bin
Statislip-linux-x64/version
Statislip-linux-x64/vk_swiftshader_icd.json
Statislip-linux-x64/locales/am.pak
Statislip-linux-x64/locales/ar.pak
Statislip-linux-x64/locales/bg.pak
Statislip-linux-x64/locales/bn.pak
Statislip-linux-x64/locales/ca.pak
Statislip-linux-x64/locales/cs.pak
Statislip-linux-x64/locales/da.pak
Statislip-linux-x64/locales/de.pak
Statislip-linux-x64/locales/el.pak
Statislip-linux-x64/locales/en-GB.pak
Statislip-linux-x64/locales/en-US.pak
Statislip-linux-x64/locales/es-419.pak
Statislip-linux-x64/locales/es.pak
Statislip-linux-x64/locales/et.pak
Statislip-linux-x64/locales/fa.pak
Statislip-linux-x64/locales/fi.pak
Statislip-linux-x64/locales/fil.pak
Statislip-linux-x64/locales/fr.pak
Statislip-linux-x64/locales/gu.pak
Statislip-linux-x64/locales/he.pak
Statislip-linux-x64/locales/hi.pak
Statislip-linux-x64/locales/hr.pak
Statislip-linux-x64/locales/hu.pak
Statislip-linux-x64/locales/id.pak
Statislip-linux-x64/locales/it.pak
Statislip-linux-x64/locales/ja.pak
Statislip-linux-x64/locales/kn.pak
Statislip-linux-x64/locales/ko.pak
Statislip-linux-x64/locales/lt.pak
Statislip-linux-x64/locales/lv.pak
Statislip-linux-x64/locales/ml.pak
Statislip-linux-x64/locales/mr.pak
Statislip-linux-x64/locales/ms.pak
Statislip-linux-x64/locales/nb.pak
Statislip-linux-x64/locales/nl.pak
Statislip-linux-x64/locales/pl.pak
Statislip-linux-x64/locales/pt-BR.pak
Statislip-linux-x64/locales/pt-PT.pak
Statislip-linux-x64/locales/ro.pak
Statislip-linux-x64/locales/ru.pak
Statislip-linux-x64/locales/sk.pak
Statislip-linux-x64/locales/sl.pak
Statislip-linux-x64/locales/sr.pak
Statislip-linux-x64/locales/sv.pak
Statislip-linux-x64/locales/sw.pak
Statislip-linux-x64/locales/ta.pak
Statislip-linux-x64/locales/te.pak
Statislip-linux-x64/locales/th.pak
Statislip-linux-x64/locales/tr.pak
Statislip-linux-x64/locales/uk.pak
Statislip-linux-x64/locales/vi.pak
Statislip-linux-x64/locales/zh-CN.pak
Statislip-linux-x64/locales/zh-TW.pak
Statislip-linux-x64/resources/app/.browserslistrc
Statislip-linux-x64/resources/app/.editorconfig
Statislip-linux-x64/resources/app/.gitignore
Statislip-linux-x64/resources/app/angular.json
Statislip-linux-x64/resources/app/constants.js
Statislip-linux-x64/resources/app/karma.conf.js
Statislip-linux-x64/resources/app/main.js
Statislip-linux-x64/resources/app/package-lock.json
Statislip-linux-x64/resources/app/package.json
Statislip-linux-x64/resources/app/README.md
Statislip-linux-x64/resources/app/slippi-stats-workerfile.js
Statislip-linux-x64/resources/app/slippi-stats.js
Statislip-linux-x64/resources/app/tsconfig.app.json
Statislip-linux-x64/resources/app/tsconfig.json
Statislip-linux-x64/resources/app/tsconfig.spec.json
Statislip-linux-x64/resources/app/tslint.json
Statislip-linux-x64/resources/app/Workspace.code-workspace
Statislip-linux-x64/resources/app/e2e/protractor.conf.js
Statislip-linux-x64/resources/app/e2e/tsconfig.json
Statislip-linux-x64/resources/app/e2e/src/app.e2e-spec.ts
Statislip-linux-x64/resources/app/e2e/src/app.po.ts
Statislip-linux-x64/resources/app/src/favicon.ico
Statislip-linux-x64/resources/app/src/index.html
Statislip-linux-x64/resources/app/src/main.ts
Statislip-linux-x64/resources/app/src/polyfills.ts
Statislip-linux-x64/resources/app/src/styles.scss
Statislip-linux-x64/resources/app/src/test.ts
Statislip-linux-x64/resources/app/src/app/app-routing.module.ts
Statislip-linux-x64/resources/app/src/app/app.component.html
Statislip-linux-x64/resources/app/src/app/app.component.scss
Statislip-linux-x64/resources/app/src/app/app.component.spec.ts
Statislip-linux-x64/resources/app/src/app/app.component.ts
Statislip-linux-x64/resources/app/src/app/app.module.ts
Statislip-linux-x64/resources/app/src/app/elec.service.ts
Statislip-linux-x64/resources/app/src/app/components/filter-form/filter-form.component.html
Statislip-linux-x64/resources/app/src/app/components/filter-form/filter-form.component.scss
Statislip-linux-x64/resources/app/src/app/components/filter-form/filter-form.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/filter-form/filter-form.component.ts
Statislip-linux-x64/resources/app/src/app/components/foldable-block/foldable-block.component.html
Statislip-linux-x64/resources/app/src/app/components/foldable-block/foldable-block.component.scss
Statislip-linux-x64/resources/app/src/app/components/foldable-block/foldable-block.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/foldable-block/foldable-block.component.ts
Statislip-linux-x64/resources/app/src/app/components/game-list/game-list.component.html
Statislip-linux-x64/resources/app/src/app/components/game-list/game-list.component.scss
Statislip-linux-x64/resources/app/src/app/components/game-list/game-list.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/game-list/game-list.component.ts
Statislip-linux-x64/resources/app/src/app/components/home/home.component.html
Statislip-linux-x64/resources/app/src/app/components/home/home.component.scss
Statislip-linux-x64/resources/app/src/app/components/home/home.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/home/home.component.ts
Statislip-linux-x64/resources/app/src/app/components/main-panel/main-panel.component.html
Statislip-linux-x64/resources/app/src/app/components/main-panel/main-panel.component.scss
Statislip-linux-x64/resources/app/src/app/components/main-panel/main-panel.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/main-panel/main-panel.component.ts
Statislip-linux-x64/resources/app/src/app/components/side-panel/side-panel.component.html
Statislip-linux-x64/resources/app/src/app/components/side-panel/side-panel.component.scss
Statislip-linux-x64/resources/app/src/app/components/side-panel/side-panel.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/side-panel/side-panel.component.ts
Statislip-linux-x64/resources/app/src/app/components/stats-display/stats-display.component.html
Statislip-linux-x64/resources/app/src/app/components/stats-display/stats-display.component.scss
Statislip-linux-x64/resources/app/src/app/components/stats-display/stats-display.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/stats-display/stats-display.component.ts
Statislip-linux-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.html
Statislip-linux-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.scss
Statislip-linux-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/stats-game-select/stats-game-select.component.ts
Statislip-linux-x64/resources/app/src/app/components/stats-line/stats-line.component.html
Statislip-linux-x64/resources/app/src/app/components/stats-line/stats-line.component.scss
Statislip-linux-x64/resources/app/src/app/components/stats-line/stats-line.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/stats-line/stats-line.component.ts
Statislip-linux-x64/resources/app/src/app/components/upload/upload.component.html
Statislip-linux-x64/resources/app/src/app/components/upload/upload.component.scss
Statislip-linux-x64/resources/app/src/app/components/upload/upload.component.spec.ts
Statislip-linux-x64/resources/app/src/app/components/upload/upload.component.ts
Statislip-linux-x64/resources/app/src/app/components/utils/gameFile.utils.ts
Statislip-linux-x64/resources/app/src/assets/.gitkeep
Statislip-linux-x64/resources/app/src/assets/chars/Bowser.png
Statislip-linux-x64/resources/app/src/assets/chars/default.png
Statislip-linux-x64/resources/app/src/assets/chars/DK.png
Statislip-linux-x64/resources/app/src/assets/chars/DRMario.png
Statislip-linux-x64/resources/app/src/assets/chars/Falco.png
Statislip-linux-x64/resources/app/src/assets/chars/Falcon.png
Statislip-linux-x64/resources/app/src/assets/chars/Fox.png
Statislip-linux-x64/resources/app/src/assets/chars/G&W.png
Statislip-linux-x64/resources/app/src/assets/chars/Ganon.png
Statislip-linux-x64/resources/app/src/assets/chars/ICs.png
Statislip-linux-x64/resources/app/src/assets/chars/Jigglypuff.png
Statislip-linux-x64/resources/app/src/assets/chars/Kirby.png
Statislip-linux-x64/resources/app/src/assets/chars/Link.png
Statislip-linux-x64/resources/app/src/assets/chars/Luigi.png
Statislip-linux-x64/resources/app/src/assets/chars/Mario.png
Statislip-linux-x64/resources/app/src/assets/chars/Marth.png
Statislip-linux-x64/resources/app/src/assets/chars/Mewtwo.png
Statislip-linux-x64/resources/app/src/assets/chars/Ness.png
Statislip-linux-x64/resources/app/src/assets/chars/Peach.png
Statislip-linux-x64/resources/app/src/assets/chars/Pichu.png
Statislip-linux-x64/resources/app/src/assets/chars/Pikachu.png
Statislip-linux-x64/resources/app/src/assets/chars/Roy.png
Statislip-linux-x64/resources/app/src/assets/chars/Samus.png
Statislip-linux-x64/resources/app/src/assets/chars/Sheik.png
Statislip-linux-x64/resources/app/src/assets/chars/YL.png
Statislip-linux-x64/resources/app/src/assets/chars/Yoshi.png
Statislip-linux-x64/resources/app/src/assets/chars/Zelda.png
Statislip-linux-x64/resources/app/src/assets/stages/BF-name.png
Statislip-linux-x64/resources/app/src/assets/stages/BF-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/default-name.png
Statislip-linux-x64/resources/app/src/assets/stages/default-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/DL-name.png
Statislip-linux-x64/resources/app/src/assets/stages/DL-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/FD-name.png
Statislip-linux-x64/resources/app/src/assets/stages/FD-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/FoD-name.png
Statislip-linux-x64/resources/app/src/assets/stages/FoD-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/PS-name.png
Statislip-linux-x64/resources/app/src/assets/stages/PS-pic.png
Statislip-linux-x64/resources/app/src/assets/stages/YS-name.png
Statislip-linux-x64/resources/app/src/assets/stages/YS-pic.png
Statislip-linux-x64/resources/app/src/environments/environment.prod.ts
Statislip-linux-x64/resources/app/src/environments/environment.ts
Statislip-linux-x64/resources/app/src/interfaces/const.ts
Statislip-linux-x64/resources/app/src/interfaces/outputs.ts
Statislip-linux-x64/resources/app/src/interfaces/types.ts
Statislip-linux-x64/resources/app/src/services/icons/icons.service.spec.ts
Statislip-linux-x64/resources/app/src/services/icons/icons.service.ts
Statislip-linux-x64/resources/app/src/services/stats-processing/stats-processing.service.spec.ts
Statislip-linux-x64/resources/app/src/services/stats-processing/stats-processing.service.ts
Statislip-linux-x64/resources/app/src/services/store/store.service.spec.ts
Statislip-linux-x64/resources/app/src/services/store/store.service.ts
Statislip-linux-x64/swiftshader/libEGL.so
Statislip-linux-x64/swiftshader/libGLESv2.so
frames.json
debug.log
Workspace.code-workspace
main_debug.log
