@use '../../../variables' as variables;

.exportBlock {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  .writeStats {
    width: 460px;
    height: 40px;
    margin: auto;
    font-size: 26px;
  }
}