<div class="row">
  <div class="col-3">
    <button class="btn btn-danger" (click)="writeStats()">Export stats to JSON</button>
  </div>
  <div class="col-9" *ngIf="writeFeedbackMessage"><p>{{writeFeedbackMessage}}</p></div>
</div>
<app-stats-display-block 
    [playerConversions]="playerConversions"
    [opponentConversions]="opponentConversions"
    [playerOverall]="playerOverall"
    [opponentOverall]="opponentOverall"
    [punishedActionsForPlayer]="punishedActionsForPlayer"
    [punishedActionsForOpponent]="punishedActionsForOpponent"
    [lcancelsForPlayer]="lcancelsForPlayer"
    [lcancelsForOpponent]="lcancelsForOpponent"
    [collapseId]="collapseId"
>
</app-stats-display-block>