<div class="mainContainer">
  <ng-container *ngIf="hasList; then twoPartDisplay else singlePartDisplay">
  </ng-container>

  <ng-template #twoPartDisplay>
    <div class="row">
      <div class="col-3 sidePanel">
        <app-side-panel [enrichedGameFiles]="enrichedGameFiles"></app-side-panel>
      </div>
      <div class="col-8">
        <div>
          <div class="header">
              <h1>Slippi stats calculator</h1>
              <ng-container>
                <app-upload></app-upload>
              </ng-container>
              <ng-container>
                <app-game-list [enrichedGameFiles]="enrichedGameFiles" [filter]="filter"></app-game-list>
              </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #singlePartDisplay>
    <div class="content">
      <div class="header">
          <h1>Slippi stats calculator</h1>
          <ng-container>
            <app-upload></app-upload>
          </ng-container>
      </div>
    </div>
  </ng-template>
</div>