<div class="mainContainer">
  <ng-container *ngIf="hasList; then twoPartDisplay else singlePartDisplay">
  </ng-container>

  <ng-template #twoPartDisplay>
    <div class="row">
      <div class="col-3 sidePanel">
        <app-side-panel [enrichedGameFiles]="enrichedGameFiles"></app-side-panel>
      </div>
      <div class="col-8">
        <app-main-panel [enrichedGameFiles]="enrichedGameFiles" [filter]="filter"></app-main-panel>
      </div>
    </div>
  </ng-template>
  <ng-template #singlePartDisplay>
    <app-main-panel></app-main-panel>
  </ng-template>
</div>