<div class="container">
  <form [formGroup]="filterForm">
    <!-- Player Id -->
    <h3>Player Slippi Id</h3>
    <div class="row btn-group btn-group-toggle" ngbRadioGroup name="radioPlayerId" formControlName="playerId">
      <label *ngFor="let playerId of playerIdsData" ngbButtonLabel class="btn-dark {{playerIdColSize}}">
        <input ngbButton type="radio" [value]="playerId" (click)="selectPlayer(playerId)"> {{playerId}}
      </label>  
    </div>
    <!-- Player character -->
    <ng-container *ngIf="playerCharacters && playerCharacters.length > 0">
      <h3>Player character</h3>
      <div class="row">
        <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioPlayerCharacter" formControlName="playerCharacter">
          <label  *ngFor="let character of playerCharacters" ngbButtonLabel 
            class="btn-dark btn-character {{playerCharacterColSize}}">
            <img src="{{getCharacterPicture(character)}}"/>
            <input ngbButton type="radio" [value]="character" (click)="selectPlayerCharacter(character)"> {{character}}
          </label>
        </div>
      </div>
    </ng-container>
    <!-- Opponent ids -->
    <ng-container *ngIf="opponentIds && opponentIds.length > 0">
      <h3>Opponent Slippi Ids</h3>
      <div class="row btn-group btn-group-toggle" ngbRadioGroup name="checkboxOpponentIds" formControlName="opponentIds">
        <ng-container *ngFor="let oppId of opponentIds" >
          <label ngbButtonLabel 
          [ngClass]="{'selected': isActiveOpponent(oppId), 'ignored': isIgnoredOpponent(oppId)}"
          class="btn-dark {{oppIdColSize}}">
          <input ngbButton type="checkbox" [value]="oppId" (click)="toggleOpponent(oppId)"> {{oppId}}
        </label>
        </ng-container>        
      </div>
    </ng-container>
    <!-- Opponent characters -->
    <ng-container *ngIf="opponentCharacters && opponentCharacters.length > 0">
      <h3>Opponent characters</h3>
      <div class="row">
        <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioOpponentCharacter" formControlName="opponentCharacters">
          <label  *ngFor="let character of opponentCharacters" ngbButtonLabel 
            [ngClass]="{'selected': isActiveOpponentCharacter(character), 'ignored': isIgnoredOpponentCharacter(character)}"
            class="btn-dark btn-character {{oppCharacterColSize}}">
            <img src="{{getCharacterPicture(character)}}"/>
            <input ngbButton type="checkbox" [value]="character" (click)="toggleOpponentCharacter(character)"> {{character}}
          </label>
        </div>
      </div>
    </ng-container>
    <!-- Stages -->
    <ng-container *ngIf="filteredStages && filteredStages.length > 0">
      <h3>Stages</h3>
      <div class="row">
        <div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioStages" formControlName="filteredStages">
          <label  *ngFor="let stage of filteredStages" ngbButtonLabel 
            [ngClass]="{'selected': isActiveStage(stage), 'ignored': isIgnoredStage(stage)}"
            class="btn-dark btn-stage {{stageColSize}}">
            <img src="{{getStagePicture(stage)}}"/>
            <input ngbButton type="checkbox" [value]="stage" (click)="toggleStage(stage)"> {{stage}}
          </label>
        </div>
      </div>
    </ng-container>
  </form>
</div>