.header-data-line {
  display: flex;
}

.d40 {
  width: 40%;
}

h1 {
  width: 20%;
}

.d20 {
  width: 20%;
}

.slippi-link {
  width: 20%;
  padding-top: 2em;
  A {
    img {
      height: 100px;
    }
  }
}

.offset {
  margin-left: -384px;
}