<div class="my-overlay" *ngIf="showOverlay">
  <div class="meter">
    <p>{{statsCalculationProgress | number:'1.0-0'}} %</p>
    <span [ngStyle]="{'width': statsCalculationProgress +'%'}"></span>
  </div>
</div>
<div class="mainContainer">
  <div class="row app-header">
    <div class="col-1">
      <p *ngIf="firstFilePath">First file : </p>
    </div>
    <div class="col-3">
      <p *ngIf="firstFilePath" class="ellipsis">{{firstFilePath}}</p>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="loadFile(1)">Choose first file</button>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="loadFile(2)">Choose second file</button>
    </div>
    <div class="col-1">
      <p *ngIf="secondFilePath">Second file : </p>
    </div>
    <div class="col-3">
      <p *ngIf="secondFilePath" class="ellipsis">{{secondFilePath}}</p>
    </div>
  </div>
  <ng-container *ngIf="firstFile && secondFile">
    <div class="row">
      <div class="col-6">
        <app-stats-compare-display [statsFromJSON]="firstFile" [collapseId]="'first'"></app-stats-compare-display>
      </div>
      <div class="col-6">
        <app-stats-compare-display [statsFromJSON]="secondFile" [collapseId]="'second'"></app-stats-compare-display>
      </div>
    </div>
  </ng-container>
</div>